// variables globales
//  colours
$mainColor: rgb(231, 192, 15);
$textColor: rgb(10, 9, 9);
$hColour:  rgb(146, 109, 79);

//fonts
$mainFont:'Quicksand', sans-serif; 

//Sizing
$texthSm: 1em;
$textMd: 2em;
$textLg: 3em;

//fontwight

$fontBold:600;
$fontlight:100;
$fontRegular: 400;

